
/* Variables */
:root {
  --black: #000;
  --white: #fff;
}

/* Color */
.black {
  color: var(--black);
}
.white {
  color: var(--white);
}

/* Background */
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}

/* Border */
.b-black {
  border-color: var(--black);
}
.b-white {
  border-color: var(--white);
}

/* Hover - Color */
.h-black:hover {
  color: var(--black);
}
.h-white:hover {
  color: var(--white);
}

/* Hover - Background */
.h-bg-black:hover {
  color: var(--black);
}
.h-bg-white:hover {
  color: var(--white);
}

/* Hover - Border */
.h-b-black:hover {
  color: var(--black);
}
.h-b-white:hover {
  color: var(--white);
}
