{% extends 'region.html.twig' %}
{% block content %}
  {% if content %}
    <nav class="region region-nav">
      <div class="inner">
        {{ content }}
      </div>
    </nav>
  {% endif %}
{% endblock %}
