{% extends 'region.html.twig' %}
{% block content %}
  {% if content %}
    <header class="region region-header">
      <div class="inner">
        {{ content }}
      </div>
    </header>
  {% endif %}
{% endblock %}
